# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===== Virtual Env =====
.venv/
venv/

# ===== Data / Attendance =====
Attendance/
StudentDetails/studentdetails.csv
TrainingImageLabel/Trainner.yml
data/registered_faces/
data/embeddings/

# ===== OS =====
.DS_Store
Thumbs.db
# ignore local extra files
project_requirement.txt
takemanually.py
.idea/
.vscode/
AMS.ico