# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===== Virtual Env =====
.venv/
venv/

# ===== OS / IDE =====
.vscode/
.idea/
.DS_Store

# ===== Next.js build cache (old project) =====
frontend/.next/
frontend/node_modules/
